
.About{
    height: 620px;
    width: 100%;
    margin-bottom: 10px;
}

.Research{
    height: 800px;
    width: 100%;
    margin-bottom: 10px;
}

.Contact{
    width: 100%;
    display: flex;
    background-color:#006d6d;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}


.About .container , .Research .container , .Contact .container{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}


.container .title{
    width: 100%;
    text-align: center;
    margin-bottom:50px  ;
}


.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color:black
}

.container .title h1::after{
    content:"";
    height: 5px;
    width: 100px;
    background: teal;
    border: 1px #006d6d solid;
    display: block;
    margin:auto;
}

.content{
    float: left;
    width: 55%;
    animation: fadeInUp 2s ease;
}

.img-section{
    float: right;
    width: 40%;
    animation: fadeInRight 2s ease;
}

.image-section img{
    width: 100%;
    height: auto;
    flex: 1;
}

.content .article h3{
    color: #a3a3a3 ;
    font-size: 17px;
}
.content .article p{
    margin-top: 20px;
    font-size: 17px;
    line-height:1.5;
    color: #333;
}

.content .article .buttons{
    margin-top:50px; 
}
.content .article .buttons a{
    text-decoration: none;
    padding:8px 25px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 40px;
    color:#fff ;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.content .article .buttons a:hover
{
    color:#fff;
    background-color: #010101;
    transition: 1s ease;
}

.container .social{
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}

.container .social i{
    color: #fff;
    font-size: 22px;
    height: 45px;
    border-radius: 50%;
    width: 45px;
    line-height: 45px;
    text-align: center;
    background: teal;
    border: 1px #006d6d solid;
    margin: 0px 5px;
}

.container .social i:hover{
color:#fff;
transition: 1s ease;
background: rgb(9, 9, 9);
border: 2px #006d6d solid;
}

@media screen and (max-width:768px){
    .About .container, .Research .container{
        width: 80%;
        display: block;
        margin: auto;
    }
    .content{
        float:none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .img-section{
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .img-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .About  {
        height: 1300px;
    }
    .Research{
        height: 1370px;
        margin-bottom: 20px;
    }
  
}
@media screen and (min-width:250px)and (max-width:400px){
    .img-section img{
        height: 300px
    }
    .About  {
        height: 1320px;
    }
    .Research{
        height:1500px;
    }
}

.Contact{
    height: 250px;
    display: flex;
}

@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


.reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

  .active.fadeInUp {
    animation: fadeInUp 1s ease-in;
  }
